<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .container {
        margin: 50px;
      }
    </style>
    <title>画像処理</title>
</head>
<body>
    
    <div class="container">
        <form>
            <p>
                <!--html先が分かり次第書きます-->
                <button type="button" onclick="location.href=''">アップデート</button>
                <button type="button" onclick="location.href=''">グレースケール</button>
                <button type="button" onclick="location.href=''">Cannyフィルタ</button>
                <button type="button" onclick="location.href=''">顔検出（枠）</button>
            </p>

            <div class="form-group">
              <label for="inputFile">File input</label>
              <input type="file" class="form-control-file" id="inputFile">
            </div>
          
            <hr/>
          
            <button type="submit" class="btn btn-primary">アップロード</button>
          
          </form>

    </div>
</body>
</html>
